*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

#container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60vw;
    height: 75vh;
}

.left{
    padding-bottom: 15vh;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 20.625vw;
    gap: 1em;
}

.tittle{
    font-size: 3.75rem;
    color: #0066ff;
    font-weight: bold;
}

.info{
    font-size: 1.8rem;
    font-weight: 200;
    color: #1d2129;
}

.login{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background-color: white;
    padding-top: 0.8vh;
    padding-bottom: 1vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    width: 20.625vw ;
    height: 40vh;
}

.inputs{
    height: 5.5vh;
    border-radius: 8px;
    font-size: 1rem;
    padding-left: 2vh;
    text-align: start;
    color: #1d2129;
    border-width: 2px;
    border: 1px solid #dddfe2;
    outline: none;
}

.inputs::placeholder{
    color: rgb(144, 146, 146)
}

.i1{
    margin-bottom: -1.5vh
}

.inputs:focus{
    outline: 1px solid#0066ff;
    box-shadow: 0 1px 3px #619bf1, 0 1px 3px #4085ec;
}

.inputs:focus::placeholder{
    color:#d8d7d7;
}

.link{
    text-decoration: none;
    color: #0066ff;
    font-size: 0.9rem;
    padding-bottom: 0.5vh;
}

.btn{
    height: 5vh;
    border-radius: 5px;
    cursor: pointer;
}

.btnLogin{
    font-size: 1.5rem;
    background-color: #0066ff;
    box-shadow: 0 1px 3px #619bf1, 0 1px 3px #4085ec;
    color: white;
    font-weight: 700;
    border: 0px;
}

.btnNew{
    font-size: 1.2rem;
    height: 5.5vh;
    background-color: #0cc70c;
    margin-left: 4.75vw;
    margin-right: 4.75vw;
    color: white;
    font-weight: 700;
    border: 0px;
}

hr{
    color: #dddfe2;
}

p a:hover{
   text-decoration: underline;
}

footer{
    color: #1d2129;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25vh;
    width: 100vw
}
/*
.tittle{
    font-size: 3rem;
    font-weight: bold;
    color: #0866ff;
}

.info{
    color: #000;
    font-size: 1.4rem;
}

.left{
    margin-bottom: 10vh;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vh;
    border: 3px solid brown;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    width: 25vw;
    height: 25vw;
}

.inputs{
    width: 45vh;
    height: 5.5vh;
    font-size: 1rem;
    border-radius: 5px;
}



footer{
    background-color: white;
    height: 25vh;
}



/*#container{
    align-items: center;
    justify-content: center;   
}

.left{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.right{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #0866ff;
    margin-right: 150px;
}


.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form{
    flex-direction: column;
}

.tittle{
    color: #0866ff;
    font-size: 3.6rem;
}

.inputs{
    text-align: left;
    width: 75%;
}/*

